.footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer_logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_logo p{
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer_links{
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer_links li{
    cursor: pointer;
}

.footer_social_icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    
    
}
.footer_social_icons img{
    padding: 10px;
    margin-left: 6px;
    background: #fbfbfb;
}




.footer_copyright{
    
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer_copyright hr{
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}